@{
    ViewData["Title"] = "Home Page";
}

@model UserForm



<div class="row justify-between"> 

<form action="/register" class="card col-4 mx-auto p-4" method="post">
<h1 class="text-center text-danger" >please give personal data</h1>
<div class="form-group">
    <label asp-for="Register.FirstName"></label>
    <input asp-for="Register.FirstName" class="form-control">
    <span asp-validation-for="Register.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Register.LastName"></label>
    <input asp-for="Register.LastName" class="form-control">
    <span asp-validation-for="Register.LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Register.Email"></label>
    <input asp-for="Register.Email" class="form-control">
    <span asp-validation-for="Register.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Register.Password"></label>
    <input asp-for="Register.Password" class="form-control">
    <span asp-validation-for="Register.Password" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Register.Confirm"></label>
    <input asp-for="Register.Confirm" class="form-control">
    <span asp-validation-for="Register.Confirm" class="text-danger"></span>
</div>
<input type="submit" value="Register" class="btn btn-primary">
</form>







<form action="/login" class="card col-4 mx-auto p-4" method="post">
<h1 class="text-center text-danger" >Login</h1>
<div class="form-group">
    <label asp-for="Login.LoginEmail"></label>
    <input asp-for="Login.LoginEmail" class="form-control">
    <span asp-validation-for="Login.LoginEmail" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Login.LoginPassword"></label>
    <input asp-for="Login.LoginPassword" class="form-control">
    <span asp-validation-for="Login.LoginPassword" class="text-danger"></span>
</div>

<input type="submit" value="Login" class="btn btn-primary">
</form>
</div>

